.map {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.marker-btn {
    background: none;
    border: none;
    cursor: pointer
}

.marker-btn img {
    width: 20px;
    height: 20px;
}